name: CI
on: [push]

jobs:
  test:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - name: Update package list
        run: sudo apt update
      - name: Install pip
        run: sudo apt install python3-pip
      - name: check out repository code
        uses: actions/checkout@master
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Execute tests
        run: python3 manage.py test --settings=be_api.test_settings

  deploy:
    name: Deploy Test
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'
      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
      - name: Deploy Test
        run: ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} cat hello.txt